.header {
    background-color: gray;
}

.carousel-item {
    height: 75vh;
    object-fit: contain;
}

.slide-title {
    font-weight: bolder;
    font-size: 300% !important;
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;

}

.slide-subtitle {
    font-weight: bolder;
    font-size: 120% !important;
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;

}
