.logo {
    width: 20%;
    margin-right: 10px;
}

.logo-text {
    font-family: 'RocknRoll One', sans-serif;
    font-weight: 800;
    color: royalblue;
    overflow: hidden;
    background: linear-gradient(to right, midnightblue, midnightblue 50%, white 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
}

.logo-text:hover{
    background-position: 0 100%;
}

.navbar-element {
    color: white  !important;
    margin-left: 10px;
}